.home-page-logo{
    position:absolute;
    left: 400px;
    
}

.home-page-logo-wrapper{
    width: 100vw;
    height: 175px;
}

.bulleted-list-div{
    text-align: left;
    width: 50vw;
    height: 25vh;
    margin: 20px;
}

.bulleted-list-div ul{

list-style-type: circle;
}

.right-bulleted-list-div{
    width: 50vw;
    height: 15vh;
    padding: 30px 0;
    background: grey;
    border-radius: 25px;
    margin: 25px;

}

.below-image-text{

    display: flex;
    /* font-size: 34px; */
}