.transaction-container { 
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .transaction-list-div {
    display: flex;
    flex-direction: column;
    width: 50%;
    /* align-items: center; */
  }

  
  .transaction-card-div {
    border:1px #ccc solid;
    padding:5px;
    background: rgb(94, 109, 109);
    /* height: 50px; */
  }


  .add-transaction-button{
    background: #060b26;
    border-radius: 15px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 50;
    padding: 8px;
   text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    
  }

  .add-transaction-button :hover {
    border: solid #337FED 1px;
    background: #3D94F6;
    border-radius: 20px;
    text-decoration: none;
}