body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* ================================================== */
 /*                       Budget Page                                 */              
 /* ================================================== */


 /* ================================================== */
 /*                   Top Half Budget Page             */              
 /* ================================================== */

.top-half-budget-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.top-half-budget-page-text{
  display: flex;
  flex-direction: column;
}

@media(min-width:768px){
.text-and-chart-budget-page{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  }
}

.top-half-budget-page-text{
  flex-grow: 2;
}

.month-change-buttons-div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.budget-page-chart-div{
    flex-grow: 5;
    height: 100%;
    width: 50%;
}

.no-categories-div{
  border: 1px #ccc solid;
  width: 60%;
}

/* ================================================== */
 /*                       Graphs                  */
 /* ================================================== */



  .chartjs-render-monitor {
  height: 100%;
  padding: 0 50px 50px;
    width: 90%;
}

/*
.doughnut-chart{
  height: 100%;
  width: 60%;
  background: #1a1a1a;

} */


/* ================================================== */
 /*                       Categories                  */
 /* ================================================== */

 @media(min-width:768px){
 .category-container-div{
  /* border:1px #ccc solid; */
  width: 100%;
  display: flex;
  flex-wrap: wrap ;
  justify-content: space-evenly;
 }}

 

 /* ================================================== */
 /*                   Category Card                  */
 /* ================================================== */

 .category-card-div{

  /* flex-direction: column; */
  border:1px #ccc solid;
  width: 20%;
  align-content: space-around;
 }


 /* ================================================== */
 /*                 Bottom Half Budget Page             */              
 /* ================================================== */

/* ================================================== */
 /*                       Txn Container                */
 /* ================================================== */

.transaction-container { 
  display: flex;

  justify-content: center;

  /* outline-width: 1px; 
  background: rgb(94, 109, 109);*/
}


/* ================================================== */
 /*                       Txn List                    */
 /* ================================================== */

.transaction-list-div {
  display: flex;
  flex-direction: column;
  width: 50%;
  /* align-items: center; */
}


/* ================================================== */
 /*                       Txn Card                    */
 /* ================================================== */

.transaction-card-div {
  border:1px #ccc solid;
  padding:5px;
  background: rgb(94, 109, 109);

}




.doughnut-chart {
  background: #1a1a1a;
  height: 100%;
  border-radius: 15px;
}


/* ================================================== */
 /*                      Modal.                      */
 /* ================================================== */

 /* ================================================== */
 /*          change monthly budget Modal                */
 /* ================================================== */
.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  align-items:center;
  justify-content: center;
}

.modal-content {
  width: 500px;
  background-color: #fff;
}

.modal-header, .modal-footer {
  padding: 10px
}

.modal-title {
  margin: 0;
}

.modal-body {
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  display: inline-block;
}



