html {
  position: relative;
  min-height: 100%;
  }


body {
  margin: 0 0 100px; 
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* ================================================== */
 /*                       Chart                  */
 /* ================================================== */

  .chartjs-render-monitor {
  padding: 0 35px 35px;
  background: #060b26;
  border-radius: 20px;
  color: white;
}

/* ================================================== */
 /*                       Categories                  */
 /* ================================================== */


 
 @media(min-width:768px){
 .category-container-div{
  /* border:1px #ccc solid; */
  width: 80%;
  display: flex;
  flex-wrap: wrap ;
  justify-content: center;
  margin: -10px 0 0 0;
 }}

 .category-container-div > *{
  margin-top: 20px;
  margin-right: 20px;
 }


/* ================================================== */
 /*                       Txn Card                    */
 /* ================================================== */

.doughnut-chart {
  background: #1a1a1a;
  height: 100%;
  border-radius: 15px;
}




/* for the category edit */
input[name=name] {
  padding: 7px;
  margin:7px 7px; 
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);

}

input[name=budget] {
  padding: 7px;
  margin:7px 7px; 
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);

}



/* on the modal for adjusting income */
input[name=amount] {
  padding: 7px;
  margin:7px 7px; 
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);

}


/* add txn */
input[name=category_id] {
  padding: 7px;
  margin:7px 7px; 
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);

}
select {
  /* width: 70%; */
  padding:7px;
  border-radius:8px;
}




.rounded-input {
  padding:7px;
  border-radius:7px;
}

input, textarea {
  font-family:inherit;
  font-size: inherit;
}

button {

  /* remove default behavior */
  appearance:none;
  -webkit-appearance:none;

  /* usual styles */
  margin:7px;
  padding:7px;
  border:none;
  background-color:#3F51B5;
  color:#fff;
  font-weight:600;
  border-radius:5px;
  /* width:100%; */

}