body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* ================================================== */
 /*                       Budget Page                                 */              
 /* ================================================== */


 /* ================================================== */
 /*                   Top Half Budget Page             */              
 /* ================================================== */

.top-half-budget-page {
  display: flex;
  justify-content: space-around;
}


/* ================================================== */
 /*                       Graphs                  */
 /* ================================================== */
.chartjs-render-monitor {
  height: 100%;
  padding: 0 50px 50px;

}


.doughnut-chart{
  height: 100%;
  width: 60%;
  background: #1a1a1a;

}


/* ================================================== */
 /*                       Categories                  */
 /* ================================================== */

 .category-container-div{
  border:1px #ccc solid;
  width: 20%;
 

 }

 

 /* ================================================== */
 /*                   Category Card                  */
 /* ================================================== */

 /* .category-card-div{
  display: flex;
  flex-direction: column;
  
 } */


 /* ================================================== */
 /*                 Bottom Half Budget Page             */              
 /* ================================================== */

/* ================================================== */
 /*                       Txn Container                */
 /* ================================================== */

.transaction-container { 
  display: flex;

  justify-content: center;

  /* outline-width: 1px; 
  background: rgb(94, 109, 109);*/
}


/* ================================================== */
 /*                       Txn List                    */
 /* ================================================== */

.transaction-list-div {
  display: flex;
  flex-direction: column;
  width: 50%;
  /* align-items: center; */
}


/* ================================================== */
 /*                       Txn Card                    */
 /* ================================================== */

.transaction-card-div {
  border:1px #ccc solid;
  padding:5px;
  background: rgb(94, 109, 109);

}




.doughnut-chart {
  background: #1a1a1a;
  height: 100%;
  border-radius: 15px;
}